*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0 none;
}

#page{
    width: 970px;
    height: 1000px;
    margin: 0 auto;
}

#top{
    background-color: #1c435d;
    width: 970px;
    height: 450px;
}
img{
    display: inline-block;
    height: 130px;
}
#topright{
    display: inline-block;
    vertical-align: top;
    margin-left: 400px;
    margin-top: 30px;
    
}
.tsize{
    text-decoration-color: none;
    color: burlywood;
    
} 

#search{
    background-color: #444444;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 2px 1px #888888;
    
}
#ptop{
    color: white;
    margin-left: 10px;
}
#text{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: inset 2px 2px gray;
    color: #888888;
    text-align: center;
}
#submit{
    width: 30px;
    height: 30px;
    background-color: #1c435d;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    color: white;
    border-radius: 2px;
}
#mainbar{
    background-color: #5392C4;
    border-radius: 10px;
    margin:0 40px;
    min-height: 40px;
    box-shadow: 5px 5px 2px #1f1f1f;

}
.button{
    display: inline-block;
    color: white;
    font-size: 25px;
    margin-left: 40px;
    margin-top:5px;

    text-decoration: none;
}
#leftside{
    margin-left: 70px;
    margin-top: 40px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.atop{
    text-decoration-color: none;
    color: white;
} 
span{
    color: goldenrod;
    display: block;
}
#topparagraph{
    display: inline-block;
    color: white;
    width: 500px;
    margin-left: 100px;
    margin-top: 30px;
    text-align: center;
}

#middle{
    background-color: white;
    width: 970px;
    height: 300px;
}
.box{
    width: 400px;
    height: 300px;
    margin-left: 70px;
    display:inline-block;
    vertical-align: top;
    border-top: #5392C4 solid;
    border-top-width: 10px;
    margin-top: 10px;
    
}

.content{
    text-align: center;
}

h1{
    text-align: center;
}
ul{
    text-align: left;
    margin-left: 50px;
}
#bottom{
    background-image: repeating-linear-gradient(#23577F,#5392C4);
    width: 970px;
    height: 100px;
    
   
}
.btext{
    text-decoration: none;
    color: #1c435d;
    display: inline-block;
    margin-left: 100px;
    font-size: 20px;
    margin-top: 40px;
    
}

#copyright{
    color: #1c435d;
    font-size: 10px;
    text-align: center;
}